@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    color: #fff;
    background-color: #000;
  }
}

@layer components {
  .muneLink {
    @apply cursor-pointer hover:text-[#c5c5c5];
  }

.tags {
  background-color: #05cffc;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 3px 10px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
}
.tags last-child {
  margin-right: 0;
}

.tags:nth-child(2){
  background-color:rgb(187, 39, 103);
  }
  .tags:nth-child(3){
    background-color:burlywood;
    }
    .tags:nth-child(4){
      background-color:blueviolet;
      }
      .tags:nth-child(5){
        background-color:rgb(232, 134, 6);
        }
        .tags:nth-child(6){
          background-color:brown;
          }
}